@tailwind base;
@tailwind components;
@tailwind utilities;

/* reset */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  color: rgb(var(--text-color));
  /* border: 1px red solid; */
}
/* https://css-tricks.com/box-sizing/ */

/* Color scheme light / dark */
@media (prefers-color-scheme: light) {
  :root {
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 155, 155, 155;
    --pages-header-text-color: 20, 20, 20;
    --pages-header-bg-color: 255, 255, 255;
    --button-active-bg-color: 140, 140, 140;
    --button-hover-bg-color: 190, 190, 190;
    --text-color: 20, 20, 20;
    --invert: 0;
  }
  body::after{
    /* content: 'l'; */
    /* display: none; */
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --background-start-rgb: 100, 100, 100;
    --background-end-rgb: 0, 0, 0;
    --pages-header-text-color: 20, 20, 20;
    --pages-header-bg-color: 50, 50, 50;
    --button-active-bg-color: 134, 134, 134;
    --button-hover-bg-color: 100, 100, 100;
    --text-color: 255, 255, 255;
    --invert: 1;
    /* --logo-invert: 0.8; */
  }
  body::after{
    /* content: 'd'; */
    /* display: none; */
  }
}

*:focus {
  /* border-radius: 0.5rem; */
  box-shadow: 0 0 0 0.5rem dodgerblue;
  /* transition: 0.5s; */
}


/* desktop view */
@media only screen and (min-width: 769px) {
  button label {
    display: block;
    font-size: medium;
}
  button.navButton {
      width: 6rem;
  }
}
/* tablets and ipads have a 768 upper breakpoint */
@media only screen and (min-width: 481px) and (max-width:768px) {
  button label {
      display: block;
      font-size: small;
  }
  button.navButton {
    width: 3.8rem;
  }
}
/* mobile devices range between 320 to 480 (400s to account for landscape mode), often 340 to 375 */
@media only screen and (max-width:480px) {
  button label {
      display: none;
      /* more later */
  }
  button.navButton {
    width: 2.3rem;
  }
}
/* https://testsigma.com/blog/css-breakpoints/#CSS_Breakpoints_8211_based_on_the_device */
/* https://www.geeksforgeeks.org/how-to-hide-button-text-in-phone-mode/ */

/* @media only screen and (orientation: landscape) and (max-width:768px) {
  body {
    background-color: darkgoldenrod;
    
  }
}

@media (orientation: portrait) {
  body {
    flex-direction: darkgreen;
  }
} */

/* shared styling for all buttons */
button {
  border-radius: 0.5rem;
  font-weight: bolder; 
  cursor: pointer;
  /* min-width: 10rem; */
  /* min-height: 2rem; */
  /* outline-color: darkgrey; */
  /* outline-style: solid ; */
  /* padding-left: 0.5rem; */
  /* margin-right: 0.5rem; */
  /* padding-top: 0.2rem; */
  /* padding-bottom: 0.2rem; */
  /* padding-left: 10px; */
  /* padding-right: 10px; */
  /* margin: 0.5rem; */
  /* margin-bottom: 0.25rem; */
}

button:hover {
  background-color: rgb(var(--button-hover-bg-color));
  border-bottom: 0.5rem ridge darkred;
  transition: 0.15s ease-in-out;
}

button:active {
  background-color: rgb(var(--button-active-bg-color));
}

.flexbox-vertical {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: stretch;
  /* align-items: center; */
  overflow: auto;
}
.flexbox-horizontal {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: stretch;
  /* align-items: center; */
  overflow: auto;
}
/* https://flexbox.malven.co/ */

main {
  height: 100vh;
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-start-rgb))) rgb(var(--background-end-rgb));
}

.page-body {
  background-color: rgb(var(--pages-header-bg-color));
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  padding: 0.15rem 0.5rem;
  position: relative;
  z-index: 1;
  margin-bottom: 0.75rem;

  /* &:has(:focus-visible) {
    outline: 3px solid rgb(17 21 36 / 50%);
  } */
}


